Session.vim
tags
*.swp
*.*~
.*~
*.o
*.a
*.gcno
*.gcda
*.gcov
[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/
ipch/
*.exe
*.obj
*.aps
*.ncb
*.opt
*.plg
*.idb
*.pdb
*.suo
*.sdf
*.opensdf
*.lib
*.log
*.tlog
*.cache
*.user
*.bak
*.VC.db
*.VC.opendb
build/
coverage_build/
coverage.info
coverage_report/
html/
latex/
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
*.cmake
alltests
